<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpaceShuttleDockingSystem.UI.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <SpaceShuttleDockingSystem.UI.Properties.Settings>
      <setting name="ConfigurationQuestion" serializeAs="String">
        <value>Configuration?</value>
      </setting>
      <setting name="PlayAgainQuestion" serializeAs="String">
        <value>Play Again? (Y/N)</value>
      </setting>
    </SpaceShuttleDockingSystem.UI.Properties.Settings>
  </userSettings>
</configuration>